:root {
  // --first-text-color: #212121;
  // --first-text-color: #eefbfb;
  --first-text-color: #f6f4f2;

  --second-text-color: #757575;
  // --accent-text-color: #d85c27;
  --accent-text-color: #c6ad8f;
  --white-text-color: #ffffff;
  --border-color: #eeeeee;
  --night-moon: #14365d;
  // --bg-color: #355c79;
  // --bg-color: #203647;
  --bg-color: #425664;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: sens-serif;
}
